[user]
	name = HEILZMaker
	email = heilz.drive@gmail.com
[core]
	editor = nvim --wait
	autocrlf = input
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[alias]
	ga = git add
	gc = git commit -m
